body {
  background: Blue;
  font-family: Helvetica;
}
h1 {
  color: gray;
  text-align: center;
}

.assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: bgBrightCyan;
}

.assign img {
  width: 200px;
  padding: 10px;
}
